<div mat-dialog-content>
    <form [formGroup]="interfaceForm">
        <h3 class="text-center text-primary">Create Interface</h3>

        <mat-form-field>
                <input matInput placeholder="interfaceCode" formControlName="interfaceCode" required>
                <mat-error *ngIf="interfaceForm.controls.interfaceCode.errors?.required">this is required</mat-error>
            </mat-form-field>


        <mat-form-field>
            <input matInput placeholder="interfacename" formControlName="interfaceName" required>
            <mat-error *ngIf="interfaceForm.controls.interfaceName.errors?.required">this is required</mat-error>
        </mat-form-field>


        <mat-form-field>
            <input matInput placeholder="interfacedesc" formControlName="interfaceDesc" required>
            <mat-error *ngIf="interfaceForm.controls.interfaceDesc.errors?.required">this is required</mat-error>
        </mat-form-field>



    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button [disabled]="!interfaceForm.valid" (click)="getpostdata()" class="ml-5 text-right text-success"  mat-button
        [mat-dialog-close]="interfaceForm.value">Save</button>

</div>